html, body{
    margin: auto;
    background-color: #4D4D4D;
    color: #050505;
    height: 100%;
    font-family: "Georgia","Times New Roman",Helvetica,Arial,sans-serif;
    overflow: hidden;
}

@media only screen and (max-width: 400px) {
    body { font-size: 0.8em; }
    .mobilehide{
        display: none;
    }
    div#mainmenu table tr td:nth-child(1) {
        width: 40%;
    }
    div#menu input{
        width: 5%;        
        background-size: 100% auto;
        background-repeat:no-repeat;
    }
    div#menu input#back{
        background-image: url(../images/mainmenu.png);
        color: transparent;
    }
    div#menu input#start{
        background-image: url(../images/start.png);        
        color: transparent;
    }
    div#menu input#stop{
        background-image: url(../images/stop.png);        
        color: transparent;
    }
    div#menu input#clear{
        background-image: url(../images/clear.png);        
        color: transparent;
    }
    div#menu input#stats{
        background-image: url(../images/stats.png);        
        color: transparent;
    }
}

div#mainmenu img.question{
    height: 15px;
    width: auto;
    display: inline-block;
    vertical-align: middle;
}

div#mainmenu div#bornRuleDesc,
div#mainmenu div#bornDeathDesc{
    display: none;
}

div#menu div#onOff{
    display: inline-block;
    border: 3px solid gainsboro;
    width: 10px;
    height: 10px;
    margin-bottom: -4px;
    border-radius: 999px;
}

div#mainmenu input#numOfRows,
div#mainmenu input#lengthOfCell,
div#mainmenu input#NumOfPalyers{
    text-align: right;
}

div#menu div.off{
    background-color: red;
}

div#menu div.on{
background-color: green;
}

div#playerWrap{
    display: inline;
}

div#playground div.field{
    border:1px solid graytext;
    box-sizing: border-box;
    /*width:50px;
    height:50px;*/
    float: left;
    margin: 0;
    padding: 0;
}

div#playground div.row{
    display: inline;
    clear:both;
}

div#playground div.green, option.green, select.green, input.green{
    background-color: greenyellow;
}

div#playground div.red, option.red, select.red, input.red{ 
    background-color: red;
}
div#playground div.yellow, select#players option.yellow, select.yellow, input.yellow{
    background-color: yellow;
} 
div#playground div.blue, option.blue,select.blue, input.blue{
    background-color: blue;
}
div#playground div.white, option.white,select.white, input.white{
    background-color: white;
}
div#playground div.cyan, option.cyan, select.cyan, input.cyan{
    background-color: cyan;
}
div#playground div.magenta, option.magenta,select.magenta, input.magenta{
    background-color: magenta;
}
div#playground div.orange, option.orange,select.orange, input.orange{
    background-color: orangered;
}

div#playground div.black{
    background-color: black;
}

div#menu{
    height: 25px;
}

div#statistics div.playertable{
    float:left;
    width:20%;
}

div#mainmenu {
    width:80%;
    margin-left: 10%; 
    height: 100%;
    padding-top: 80px;
}

div#mainmenu table{
    border-width: 5px;
    border-style: solid;
    border-color: #B3B3B3;
    border-radius: 10px;
    margin: 0 auto;
}

div#mainmenu .gsRow{
    text-align: center;
}
