    /*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17.06.2014, 18:41:42
    Author     : alexander
*/
html, body{
    margin: auto;
}

div#menu div#onOff{
    display: inline-block;
    border: 3px solid gainsboro;
    width: 10px;
    height: 10px;
    margin-bottom: -4px;
    border-radius: 999px;
}

div#menu div.off{
    background-color: red;
}

div#menu div.on{
background-color: green;
}

div#players{
    display: inline;
}

div#playground div.field{
    border:1px solid graytext;
    box-sizing: border-box;
    /*width:50px;
    height:50px;*/
    float: left;
    margin: 0;
    padding: 0;
}

div#playground div.row{
    display: inline;
    clear:both;
}

div#playground div.green, option.green, select.green, input.green{
    background-color: greenyellow;
}

div#playground div.red, option.red,select.red, input.red{ 
    background-color: red;
}
div#playground div.yellow, option.yellow,select.yellow, input.yellow{
    background-color: yellow;
} 
div#playground div.blue, option.blue,select.blue, input.blue{
    background-color: blue;
}
div#playground div.white, option.white,select.white, input.white{
    background-color: white;
}
div#playground div.cyan, option.cyan,select.cyan, input.cyan{
    background-color: cyan;
}
div#playground div.magenta, option.magenta,select.magenta, input.magenta{
    background-color: magenta;
}
div#playground div.orange, option.orange,select.orange, input.orange{
    background-color: orangered;
}

div#playground div.black{
    background-color: black;
}

div#menu{
    height: 25px;
}

div#statistics div.playertable{
    float:left;
    width:20%;
}